.sedonatext {
  font-family: 'Cambria'; font-size: 25px
  }

.lasvegastext {
  font-family: 'Cambria'; font-size: 25px
  }

.sanfrantext {
  font-family: 'Cambria'; font-size: 25px
  }

.signature {
  font-family: fantasy; font-size:20px
}
